# --- Python ---
*.pyc
__pycache__/

# --- macOS ---
.DS_Store

# --- Generated scan / experiment data ---
edge/data/

# --- Debug / temporary output ---
server/debug_pictures/

# Calibration debug outputs
smile_keystone/calibration_data/debug_calib/

# Images generated
*.png

# Spec. files 
*.spec